
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color:#e8dbfc;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    border: 4px solid rgb(49, 29, 182) ;

    >.secondary-main{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        flex-direction: column;
        height: 90vh;
        margin-bottom: 10px;
        >h2{
            >.image{
                gap: 2px;
                margin-right: 12px;
                margin-top: 5px;
            }
        }
        >.textdept{
            font-size: medium;
            font-weight: 400;
            width: 90%;
        }
    
    }
    .footer{
        
        text-align: center;
    }

}

.textdept{
    border: 2px soild green;
}

@media screen and (max-width: 450px){



    
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width:min-content;
    flex-direction: column;
    >.secondary-main{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin-bottom: 10px;
        border: 4px solid green;
        >h2{
            font-size: 45px;
            >.image{
                gap: 2px;
                margin-right: 12px;
                margin-top: 5px;
            }
        }
        >.textdept{
            
            font-size: medium;
            font-weight: 400;
            width: 90%;
            padding: 10px;
            margin-bottom: 30px;
        }
    }
    .footer{
        
        text-align: center;
    }

}
    
}
