
.Main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    
    
>.box{
    margin-top: 30;        
    width: 40%;
    border: 2px solid (14, 18, 8);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    >h2{
        font-size: 40px;
        margin: 0;
        
    }
    >p{
        font-size: 20px;
        margin: 0;
        font-weight: 900;
        width:max-content;
        padding-bottom: 10px;
    }
    >input{
        width: 120%;
        height: 30px;
        text-align: center;
        font-weight: 600;
    }
    >button{
        margin-top: 10px;
        border-radius: 2px;
        color: rgb(0, 0, 0);
        height: 40px;
        width: 70px;
        background-color: rgb(181, 233, 177);
    }
}
>.ans{
    padding: 20px;
    /* text-align: center; */
    >h2{
        font-size: 40px;
        margin: 0;
        text-align: center;
    }
    >.result-box{
        width: 100%;
        flex-direction: column;
        display: flex;
        padding-right: 5px;
        >.card{
            background-color:#ECFFE6;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding: 9px;
            border: 1px solid black;
            margin: 10px 0;
            margin-right: 10px;
            >.result-entry{
                >.bns{
                    font-size: 20px;
                    font-weight: 800;
                    margin: 0;
                    text-align: center;
                    color: rgb(6, 28, 31);
                }

            }

        }
    }
}

}

@media screen and (max-width: 500px){
    
.Main{
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70%;    
}
}